/* general styles
   ========================================================= */
a {
  color: #3679BF;
}
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.truncate {
  width: 640px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.space {
  padding: 10px 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form label {
  font-size: 11pt;
  display: block;
}

/* header styles
   ========================================================= */

header {
  background-color: #f0f0f0;
  border-bottom-width: 0;
  padding: 44px 25px;
}

header h1,
header h2 {
  margin: 0;
  line-height: 1;
}

header h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  /*line-height: 30px;*/
  letter-spacing: -1.5px;
}
header h1 a {
  text-decoration: none;
  color: #c00;
}

header h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #616161;
  font-size: 13pt;
  font-weight: normal;
}

section h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 10px 0;
}

/* main app scope
   ========================================================= */

#job-app {
  background-color: #f0f0f0;
  border-top: none;
  border-bottom-width: 40px;
  position: relative;
  overflow: hidden;
}

/* columns
   ========================================================= */

#job-list,
#job-filter {
  padding: 35px 25px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* job listings
   ========================================================= */

#job-list h3#job-list-head {
  width: 66%;
  margin: 0;
  padding: 2px 8px 2px 0;
  float: left;
  box-sizing: border-box;
}

#job-list-sort {
  width: 34%;
  margin: 0;
  padding: 2px 0 2px 8px;
  float: left;
  box-sizing: border-box;
  text-align: right;
  line-height: 20px;
  font-size: .9em;
}

#job-list-sort p,
#job-list-sort ul {
  margin: 15px 0;
  display: inline-table;
}

.sort-menu {
  display: inline-table;
}
.sort-menu li {
  margin-right: 8px;
  float: left;
  position: relative;
}

/* individual job listings - animation
   ========================================================= */

.job-listing h3 a {
  text-decoration: none;
}

#job-listing-container {
  position: relative;
  /*height: 1500px;*/
}

.job-listing {
  /*position: absolute;*/
  /*left: 0;*/
  /*height: 100px;*/
  -webkit-transition: top 1s ease-out, opacity 1s;
  -moz-transition: top 1s ease-out, opacity 1s;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.job-listing li:last-child {
  margin-right: 0;
}
.job-listing li {
  float: left;
  width: 30%;
  margin: 0 3% 0 0;
  font-size: 12px;
  color: #898989;
}

/* animation ----------------------------- */

.job-listing.ng-enter,
.job-listing.ng-leave,
.job-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.job-listing.ng-enter,
.job-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.job-listing.ng-move.ng-move-active,
.job-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.job-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.job-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* forms
   ========================================================= */

.search-menu li {
  width: 35%;
  margin-right: 3%;
  float: left;
  position: relative;
}
.search-menu li:last-child {
  width: 24%;
  margin-right: 0;
  float: left;
  position: relative;
}
.search-menu label {
  position: absolute;
  top: 45px;
  font-size: 12px;
  color: #363636;
}
#job-filter form input[type=text],
#job-filter form select {
  background-color: #ebebeb;
  border: solid 1px #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  font-size: 18px;
  padding: 5px;
  margin-top: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
}

#job-filter form button {
  width: 100%;
  background-color: #3679BF;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-top: 2px;
  padding: 5px 18px;
}

/* responsive styles
   ========================================================= */

@media screen and (max-width: 800px ) {
  .container {
    width: 100%;
  }

  #job-list, #job-filter {
    width: 100%
  }

  #job-filter {
    border-top: 5px solid #f0f0f0;
  }

  .search-menu li,
  #job-list h3#job-list-head,
  #job-list-sort {
    width: 100%;
    margin: 10px 0 20px;
    float: none;
    display: block;
  }

  header {
    padding: 20px 25px;
  }

  header h1 {
    font-size: 28px;
  }

}
